<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <mongo:mongo-client id="mongoDBBean"
                        host="${spring.data.mongodb.host}"
                        port="${spring.data.mongodb.port}">
        <mongo:client-options write-concern="NORMAL" />
    </mongo:mongo-client>

    <mongo:db-factory dbname="${spring.data.mongodb.database}"/>

</beans>